html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo {
  height: 1em;
  margin-top: 2rem;
  margin-left: 5rem;
  color: gray;
}
.name {
  color: #0070f3;
}
.tech {
  color: black;
}

:root {
  --responsive-font-size: 10px;
}
html {
  font-size: var(--responsive-font-size);
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(
      var(--responsive-font-size) + 6 * ((100vw - 320px) / 680)
    );
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 14px;
  }
}
